version: "3.8"

services:
  backend:
    build: ./backend
    container_name: stella-backend
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: stella-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: stella-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
