services:
  backend:
    build: ./backend
    container_name: stella-backend
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: stella-frontend
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: stella-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
